* {
  border: 0;
  padding: 0;
  text-align: center;
}

body {
  align-items: center;
  background-color: rgb(2, 43, 2);
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#list-form {
  align-items: center;
  background-color: antiquewhite;
  border-radius: 25px;
  height: 60vh;
  margin-top: 8%;
  width: 70vw;
}

header {
  font-size: 2rem;
  padding: 5px;
}

#funcionamento {
  font-size: 1;
}

.item-selecionado {
  background-color: gray
}

.completed {
  text-decoration: line-through solid rgb(250, 1, 1);
}

#texto-tarefa {
  border: 1px solid rgb(2, 43, 2);
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 5px;
}

#lista-tarefas {
  display:inline-block;
  justify-content: center;
  width: 80%;
}

#buttons {
  align-items: flex-end;
  margin-top: -6%;
}

button {
  background-color: rgb(2, 43, 2);
  border-radius: 10px;
  color: white;
  font-size: 0.9rem;
  margin: 5px;
  padding: 5px;
}

#list-formato {
  margin-left: 4.5rem;
  width: 80%;
}

footer {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}